.adminAvatar {
  width: 45px;
  height: 45px;
  // border: 2px solid #144ea6;
  transition: all 0.3s ease;
  background-color: #0a6470;
  img {
    width: 35px;
    // height: 40px;
    // border-radius: 50%;
    border-radius: 0;
    // object-fit: cover;
    // outline: 2px solid red;
  }
}
